h1 List Categories
.categories#jstree-categories
br

= link_to "Create", "#", class: "btn btn-success", id: "create-category"
'
= link_to "Rename", "#", class: "btn btn-warning", id: "rename-category"
'
= link_to "Delete", "#", class: "btn btn-danger", id: "delete-category"
